# App Store Connect
*.itmsp

# Archives
*.rar
*.tar.gz
*.zip

# Carthage
Carthage/Build/
Carthage/Checkouts/

# CocoaPods
!*.xcodeproj/project.xcworkspace
*.xcworkspace
Pods/

# Code Injection
iOSInjectionProject/

# Fastlane
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# IDE
*~
*.swo
*.swp
.idea/

# macOS
._*
.AppleDouble
.DS_Store
.LSOverride
Thumbs.db

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# Python
*.egg
*.egg-info/
*.pyc
*.pyo
.eggs/
.mypy_cache/
.pytest_cache/
.python-version
.venv/
__pycache__/
dist/
site/
venv/

# Swift Package Manager
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
.build/
.swiftpm/
Package.pins
Package.resolved
Packages/

# Xcode
## Build generated
build/
DerivedData/

## Obj-C/Swift specific
*.dSYM
*.dSYM.zip
*.hmap
*.ipa

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Playgrounds
playground.xcworkspace
timeline.xctimeline

## Various settings
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
xcuserdata/
